body {
    line-height: 150%;
    margin: 5px;
    text-align: center;
}
header {
    text-align: left;
}
#question {
    font-size: 200%;
    margin-bottom: 10px;
}
button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: 1px solid red;
    border-radius: 25px;
}
button:hover {
    box-shadow: 5px 5px 7px black;
}